body, html {
  height: 100%;
  text-align: center;
  font-family: monospace;
}

.bg {
  background-image: url("../img/hex.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.container {
  background-color: rgb(224, 204, 178, .5);
  height: 100vh;
}

h1 {
  padding: 100px;
  color: rgb(37, 7, 56);
  font-weight: bolder;
}

input {
  width: 10%;
  background-color: black;
  color: silver;
}

button {
  margin: 20px;
  background-image: radial-gradient(rgb(159, 159, 236), cyan, yellow, red);
  border: 3px solid black;
  border-radius: 10%;
  width: 20%;
}