body, html {
  height: 100%;
  text-align: center;
  font-family: monospace;
  font-size: larger;
}

.bg {
  background-image: url("../img/comb.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.container {
  background-color: rgba(236, 227, 214, 0.7);
  height: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  padding-top: 100px;
  padding-bottom: 20px;
  color: rgb(16, 2, 26);
  font-weight: bolder;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: rgb(139, 123, 123);
}

input {
  width: 15%;
  background-color: black;
  color: silver;
  text-align: center;
  border: 3px solid black;
  margin-bottom: 20px;
}

button {
  margin: 20px;
  background-image: radial-gradient(rgb(159, 159, 236), cyan, yellow, red);
  border: 4px solid black;
  border-radius: 10%;
  width: 30%;
  margin-bottom: 300px;
}

button:hover {
  cursor: pointer;
}

#reversebtn {
  margin-bottom: 30px;
}

#output {
  display: none;
  padding-top: 150px;
}

#output a {
  color: rgb(141, 34, 2);
  font-weight: bold;
}

#result {
  padding-bottom: 100px;
}